<%- include("partials/header") -%>
<div
  style="
    background-image: url(https://source.unsplash.com/1600x900/?blog);
    height: 50vh;
  "
></div>
<div class="container">
<h1 class="abouth1">Welcome to BLOGSOME. We're glad you're here.</h1>
<h3 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;color: rgb(71, 78, 78);"><%= aboutText %></h3>

<%- include("partials/footer") -%>
